<link rel="stylesheet" href="/css/imgPreview.css">
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Información de Usuario</h3>
                    </div>
                    <div class="card-body">
                        {{#with updateUser}}
                        <form id="quickForm" action="/users/edit/{{id}}" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Foto de perfil (opcional)</label>
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" name="image" class="custom-file-input"
                                                    id="customFile" accept="image/*">
                                                <label class="custom-file-label" for="customFile">Seleccionar
                                                    imagen</label>
                                            </div>
                                        </div>
                                        <div class="img-fluid text-center">
                                            <img id="imgPreview" src="/uploads/profile/users/{{image}}" alt=""
                                                class="img-circle img-fluid">
                                            <script src="/js/conf/imgPreview.js"></script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <input type="text" name="identification" class="form-control"
                                                    placeholder="Ingrese la Identificación" value="{{identification}}"
                                                    autofocus>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" name="names" class="form-control"
                                                    placeholder="Ingrese los nombres" value="{{names}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" name="lastnames" class="form-control"
                                                    placeholder="Ingrese los apellidos" value="{{lastnames}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Dirección</label>
                                                <input type="text" name="address" class="form-control"
                                                    placeholder="Ciudad, barrio o parroquia, calle, avenida"
                                                    value="{{address}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Correo electrónico</label>
                                                <input type="email" name="email" class="form-control"
                                                    placeholder="Ingrese el correo electrónico" value="{{email}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="contact">Contacto</label>
                                                <input type="text" name="contact" class="form-control"
                                                    placeholder="Ingrese el contacto" value="{{contact}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{/with}}
                                    {{#if user.category}}
                                    {{#with updateUser}}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Nombre de usuario</label>
                                                <input type="text" name="username" class="form-control"
                                                    placeholder="Ingrese el nombre de usuario" value="{{username}}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Categoría usuario</label>
                                                <select name="categoryUser" id="sCategoryUser" class="form-control">
                                                    <option value="1">Administrador</option>
                                                    <option value="0">Técnico</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            {{>statusBox}}
                                        </div>
                                    </div>
                                    {{/with}}
                                    {{/if}}
                                </div>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">
                            <i class="nav-icon fas fa-sync"></i>
                            Guardar Cambios
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{#with updateUser}}
<script src="/js/conf/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sStatus > option[value="' + {{ active }} + '"]').attr('selected', 'selected');
    $('#sCategoryUser > option[value="' + {{ category }}+'"]').attr('selected', 'selected');
    });
</script>
{{/with}}